<ons-page>
  <ons-dialog cancelable>
    <div class="comment-dialog" ng-controller="NewCommentController">
      <ons-toolbar inline>
        <div class="center">发表评论</div>
      </ons-toolbar>

      <div class="main">
        <textarea class="textarea" ng-model="commentContent"></textarea>
        <div class="buttons">
          <div class="submit-button">
            <ons-button modifier="large--cta" class="submit-button"
                        ng-click="submitComment()" ng-disabled="waitingSubmit">
              <span ng-if="!waitingSubmit">确定</span>
              <span ng-if="waitingSubmit">发布中</span>
              <span ng-if="waitingSubmit" loading-dots></span>
            </ons-button>
          </div>
        </div>
      </div>
    </div>
  </ons-dialog>
</ons-page>
