<ons-page ng-controller="HoleListController">
  <ons-sliding-menu var="menu" menu-page="left-menu.html" max-slide-distance="75%" type="push">

    <div class="main">
      <ons-page>
        <ons-pull-hook var="loader" ng-action="pullToRefresh($done)">
          <span ng-switch="loader.getCurrentState()">
            <span ng-switch-when="initial">
              <ons-icon size="30px" icon="ion-arrow-down-a"></ons-icon>
              下拉刷新列表
            </span>
            <span ng-switch-when="preaction">
              <ons-icon size="30px" icon="ion-arrow-up-a"></ons-icon>
              松开以刷新列表
            </span>
            <span ng-switch-when="action">
              <ons-icon size="30px" spin="true" icon="ion-load-d"></ons-icon>
              树洞加载中
            </span>
          </span>
        </ons-pull-hook>

        <ons-toolbar fixed-style>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()" ng-if="currentChannel">
              <ons-icon icon="ion-navicon" size="32px"></ons-icon>
              <ons-icon ng-if="hasNotification || !user.get('tsinghuaAuth')"
                        icon="fa-circle" size="8px" style="color: #dc5236; position: relative; bottom: 9px;"></ons-icon>
            </ons-toolbar-button>

          </div>
          <div class="center">
            <span ng-if="currentChannel">{{ currentChannel.get('name') }}</span>
            <span ng-if="!currentChannel">加载中</span>
            <span ng-if="!currentChannel" loading-dots></span>
          </div>
          <div class="right">
            <ons-toolbar-button ng-if="user.get('tsinghuaAuth') && currentChannel"
                                ng-click="navi.pushPageWithHistory('hole/new.html', { animation: 'fade', callback: refreshList })">
              <ons-icon icon="ion-android-add" size="32px"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="hole-list">
          <ons-list>
            <ons-list-item ng-repeat="hole in holes"
                           ng-click="navi.pushPageWithHistory('hole/show.html', { animation: 'fade', holeId: hole.getObjectId() })">
              <div class="hole-container clearfix">
                <div class="avatar">
                  <img ng-src="{{ helper.getAnonymousAvatar(hole, 48) }}">
                </div>
                <div class="right-part">
                  <div class="nickname">{{ hole.get('anonymous') ? '匿名用户' : hole.get('author').get('nickname') }}</div>
                  <div class="content"><p>{{ hole.get('content') }}</p></div>

                  <div class="images" ng-if="hole.get('images') && hole.get('images').length > 1">
                    <div class="images-container">
                      <div class="image" ng-repeat="image in hole.get('images')">
                        <img ng-src="{{ image.get('file').thumbnailURL(300, 300, 100, false) }}">
                      </div>
                    </div>
                  </div>
                  <div class="individual-image" ng-if="hole.get('images') && hole.get('images').length === 1">
                    <div class="image">
                      <img ng-src="{{ hole.get('images')[0].get('file').thumbnailURL(500, 500) }}">
                    </div>
                  </div>
                  <div class="publish-time">{{ hole.getCreatedAt()|formatTime }}</div>
                </div>
              </div>
            </ons-list-item>
          </ons-list>
        </div>
      </ons-page>
    </div>

  </ons-sliding-menu>
</ons-page>
