<ons-page ng-controller="NewHoleController">
  <div class="new-hole">
    <ons-toolbar fixed-style>
      <div class="left">
        <ons-toolbar-button ng-click="navi.popPageWithHistory({ 'animation': 'slide' })">
          <ons-icon style="margin-left: 5px;" icon="ion-ios-arrow-back" size="32px"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">新树洞</div>
    </ons-toolbar>

    <ons-list modifier="inset" class="new-hole-form">
      <ons-list-item class="images">
        <div new-hole-add-image>
          <div class="image-container">
            <div class="square-box">
              <div class="inner">
                <div class="add-image">
                  <div class="plus-icon">
                    <div class="container"><ons-icon icon="fa-plus" size="30px"></ons-icon></div>
                  </div>
                  <input type="file" accept="image/*" class="file-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ons-list-item>
      <ons-list-item class="content">
        <textarea class="textarea textarea--transparent" placeholder="树洞内容" ng-model="data.content"></textarea>
      </ons-list-item>
      <ons-list-item>
        <div class="anonymous">
          匿名发布
          <label class="switch switch--list-item">
            <input type="checkbox" class="switch__input" ng-model="data.anonymous">
            <div class="switch__toggle"></div>
          </label>
        </div>
      </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar>
      <div class="bottom-toolbar">
        <div class="center">
          <ons-button modifier="quiet" ng-click="submit()" ng-disabled="waitingSubmit">发布</ons-button>
        </div>
      </div>
    </ons-bottom-toolbar>
  </div>
</ons-page>
