<ons-page ng-controller="ShowHoleController">
  <div class="show-hole">
    <ons-toolbar fixed-style>
      <div class="left">
        <ons-toolbar-button ng-click="navi.popPageWithHistory({ 'animation': 'slide' })">
          <ons-icon style="margin-left: 5px;" icon="ion-ios-arrow-back" size="32px"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">详情</div>
    </ons-toolbar>

    <ons-list ng-if="hole && comments">
      <ons-list-item>
        <div class="main">
          <div class="top-part clearfix">
            <div class="avatar">
              <img ng-src="{{ helper.getAnonymousAvatar(hole, 48) }}">
            </div>
            <div class="nickname">
              <span ng-if="!hole.get('anonymous')">{{ hole.get('author').get('nickname') }}</span>
              <span ng-if="hole.get('anonymous')">匿名用户</span>
              <span ng-if="hole.get('anonymous') && currentPseudoUser.get('authorOf') && currentPseudoUser.get('authorOf').getObjectId() === hole.getObjectId()">（我）</span>
            </div>
            <div class="publish-time">
              {{ hole.getCreatedAt()|formatTime }}
            </div>
          </div>
          <div class="content"><p>{{ hole.get('content') }}</p></div>
          <div class="images" ng-if="hole.get('images') && hole.get('images').length > 1">
            <div class="images-container">
              <div class="image" ng-repeat="image in hole.get('images')">
                <img ng-src="{{ image.get('file').thumbnailURL(300, 300, 100, false) }}" ng-click="helper.showGallery(hole, $index)">
              </div>
            </div>
          </div>
          <div class="individual-image" ng-if="hole.get('images') && hole.get('images').length === 1">
            <div class="image">
              <img ng-src="{{ hole.get('images')[0].get('file').thumbnailURL(500, 500) }}" ng-click="helper.showGallery(hole, 0)">
            </div>
          </div>
          <div class="bottom-part clearfix">
            <div class="like-and-comment" ng-click="toggleLike()">
              <div class="like-count">
                <ons-icon ng-if="!likeStat.includeMe" size="16px" icon="fa-thumbs-o-up"></ons-icon>
                <ons-icon ng-if="likeStat.includeMe" size="16px" icon="fa-thumbs-up"></ons-icon>
                <span>{{ likeStat.count }}</span>
              </div>
              <div class="comment-count">
                <ons-icon size="16px" icon="fa-comments-o"></ons-icon>
                <span>{{ hole.get('commentCount') }}</span>
              </div>
            </div>
          </div>
        </div>
      </ons-list-item>

      <ons-list-item ng-repeat="comment in comments" modifier="tappable" ng-click="showCommentDialog(comment)">
        <div class="comment clearfix">
          <div class="avatar">
            <img ng-src="{{ helper.getAnonymousAvatar(comment, 32) }}">
          </div>
          <div class="right-part">
            <div class="top-part clearfix">
              <div class="nickname">
                <span ng-if="!comment.get('anonymous')">{{ comment.get('author').get('nickname') }}</span>
                <span ng-if="comment.get('anonymous')">
                  {{ nicknameDict[comment.get('author').getObjectId()] }}
                </span>
                <span ng-if="comment.get('anonymous') && currentPseudoUser.getObjectId() === comment.get('author').getObjectId()">（我）</span>
              </div>
              <div class="publish-time">
                {{ comment.getCreatedAt()|formatTime }}
              </div>
            </div>
            <div class="content"><p>
              <span ng-if="comment.get('replyTo')">
                {{ '回复' + (comment.get('anonymous') ? nicknameDict[comment.get('replyTo').get('author').getObjectId()] : comment.get('replyTo').get('author').get('nickname')) + ':' }}
              </span>
              {{ comment.get('content') }}
            </p></div>
          </div>
        </div>
      </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar ng-if="user.get('tsinghuaAuth')">
      <div class="bottom-toolbar">
        <div class="center">
          <ons-button modifier="quiet" ng-disabled="!hole || !comments" ng-click="showCommentDialog()">评论</ons-button>
        </div>
      </div>
    </ons-bottom-toolbar>
  </div>
</ons-page>
