<ons-page ng-controller="HoleListController">
  <ons-sliding-menu var="menu" menu-page="left-menu.html" swipeable max-slide-distance="260px" type="push">

    <div class="main">
      <ons-page>
        <div class="hole-list">
          <ons-toolbar fixed-style>
            <div class="left">
              <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="32px"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">默认频道</div>
            <div class="right">
              <ons-toolbar-button ng-click="navi.pushPageWithHistory('hole/new.html', { animation: 'fade' })">
                <ons-icon icon="ion-android-add" size="32px"></ons-icon>
              </ons-toolbar-button>
            </div>
          </ons-toolbar>

          <div>
            <ons-list>
              <ons-list-item ng-repeat="hole in holes" modifier="tappable"
                             ng-click="navi.pushPageWithHistory('hole/show.html', { animation: 'fade', hole: hole })">
                <div class="hole-container">
                  <div ng-if="hole.get('images').length > 0" class="image">
                    <img ng-src="{{ hole.get('images')[0].get('file').thumbnailURL(100, 100) }}">
                  </div>
                  <div class="content">
                    {{ hole.get('content') }}
                  </div>
                  <div class="footer">
                    <span class="author">{{ hole.get('author').get('nickname') }}</span>
                    <span class="publish-time">{{ hole.getCreatedAt()|formatTime }}</span>
                  </div>
                </div>

              </ons-list-item>
            </ons-list>
          </div>

          <!--<ons-bottom-toolbar>
            <div class="bottom-toolbar">
              <div class="center">
                <ons-button modifier="quiet"
                            ng-click="navi.pushPageWithHistory('hole/new.html', { animation: 'fade' })">
                  新树洞
                </ons-button>
              </div>

            </div>

          </ons-bottom-toolbar>-->

        </div>
      </ons-page>
    </div>

  </ons-sliding-menu>
</ons-page>
