<ons-page ng-controller="ShowHoleController">
  <div class="show-hole">
    <ons-toolbar fixed-style>
      <div class="left">
        <ons-toolbar-button ng-click="navi.popPageWithHistory({ 'animation': 'slide' })">
          <ons-icon style="margin-left: 5px;" icon="ion-ios-arrow-back" size="32px"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">详情</div>
    </ons-toolbar>

    <ons-list ng-if="hole && comments">
      <ons-list-item>
        <div class="main">
          <div class="top-part clearfix">
            <div class="avatar">
              <img ng-src="{{ getAvatarUrl(hole.get('author'), 48) }}">
            </div>
            <div class="nickname">
              {{ hole.get('author').get('nickname') }}
            </div>
            <div class="publish-time">
              {{ hole.getCreatedAt()|formatTime }}
            </div>
          </div>
          <div class="content">
            <p>{{ hole.get('content') }}</p>
            <div class="images" ng-if="hole.get('images') && hole.get('images').length > 1">
              <div class="images-container">
                <div class="image" ng-repeat="image in hole.get('images')" ng-click="showGallery($index)">
                  <img ng-src="{{ image.get('file').thumbnailURL(300, 300, 100, false) }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ons-list-item>

      <ons-list-item ng-repeat="comment in comments">
        <div class="comment clearfix">
          <div class="avatar">
            <img ng-src="{{ getAvatarUrl(comment.get('author'), 32) }}">
          </div>
          <div class="right-part">
            <div class="top-part clearfix">
              <div class="nickname">
                {{ comment.get('author').get('nickname') }}
              </div>
              <div class="publish-time">
                {{ comment.getCreatedAt()|formatTime }}
              </div>
            </div>
            <div class="content"><p>{{ comment.get('content') }}</p></div>
          </div>
        </div>
      </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar ng-if="hole && comments && user.get('tsinghuaAuth')">
      <div class="bottom-toolbar">
        <div class="center">
          <ons-button modifier="quiet" ng-click="showCommentDialog()">评论</ons-button>
        </div>
      </div>
    </ons-bottom-toolbar>
  </div>
</ons-page>
