<ons-page>
  <ons-sliding-menu side="left" var="menu" swipeable max-slide-distance="75%">

    <div class="menu">
      <ons-page modifier="menu-page">
        <ons-toolbar modifier="transparent">
          <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="menu.close()">
              </ons-icon>Close
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <ons-list class="menu-list">
          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-plus"></ons-icon>
            New Post
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-bookmark"></ons-icon>
            Bookmark
          </ons-list-item>

          <ons-list-item class="menu-item" ng-click="menu.close()">
            <ons-icon icon="fa-twitter"></ons-icon>
            Official Twitter
          </ons-list-item>
        </ons-list>

        <br>

        <ons-list class="bottom-menu-list">
          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Settings
            <div class="notification menu-notification">3</div>
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Help
          </ons-list-item>

          <ons-list-item class="bottom-menu-item" ng-click="menu.close()">
            Send feedback
          </ons-list-item>
        </ons-list>

      </ons-page>
    </div>

    <div class="main">
      <ons-page>

        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
              <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">默认频道</div>
        </ons-toolbar>

        <div class="hole-list" ng-controller="HoleController">
          <ons-list>
            <ons-list-item ng-repeat="hole in holes" modifier="tappable">
              <div class="hole-container">
                <div class="content">
                  {{ hole.text }}
                </div>
                <div class="footer">
                  <span class="author">{{ hole.author }}</span>
                  <span class="publish-time">{{ hole.publish_time|formatTime }}</span>
                </div>
              </div>

            </ons-list-item>
          </ons-list>
        </div>

        <ons-bottom-toolbar>
          <div class="bottom-toolbar">
            <div class="center">
              <ons-button modifier="quiet">新树洞</ons-button>
            </div>

          </div>

        </ons-bottom-toolbar>

      </ons-page>
    </div>

  </ons-sliding-menu>
</ons-page>
