<ons-page>
  <div class="register">
    <ons-toolbar fixed-style>
      <div class="left"><ons-back-button>返回</ons-back-button></div>
      <div class="center">注册新账号</div>
    </ons-toolbar>

    <div class="register-form" ng-controller="RegisterController">
      <div class="form-row">
        <input type="text" ng-model="username" class="text-input--underbar width-full" placeholder="用户名">
      </div>
      <div class="form-row">
        <input type="text" ng-model="nickname" class="text-input--underbar width-full" placeholder="昵称">
      </div>
      <div class="form-row">
        <input type="password" ng-model="password" class="text-input--underbar width-full" placeholder="密码">
      </div>
      <div class="form-row">
        <input type="password" ng-model="passwordConfirm" class="text-input--underbar width-full" placeholder="确认密码">
      </div>

      <div class="vspc form-row">
        <ons-button ng-click="register()" modifier="large--cta">提交</ons-button>
      </div>
    </div>
  </div>
</ons-page>
