<ons-dialog class="change-password-dialog">
  <ons-toolbar inline>
    <div class="center">修改密码</div>
  </ons-toolbar>

  <div class="password-input">
    <!-- It seems that $parent.$parent is the parentScope that we specify in createDialog's options -->
    <input type="password" class="text-input text-input--underbar" placeholder="旧密码" ng-model="$parent.$parent.oldPassword">
    <input type="password" class="text-input text-input--underbar" placeholder="新密码" ng-model="$parent.$parent.password">
    <input type="password" class="text-input text-input--underbar" placeholder="确认新密码" ng-model="$parent.$parent.passwordConfirm">
  </div>

  <ons-bottom-toolbar>
    <div class="buttons">
      <button class="button button--quiet" ng-click="changePassword()" ng-disabled="waitingSubmit">确定</button>
      <button class="button button--quiet" ng-click="changePasswordDialog.hide()" ng-disabled="waitingSubmit">取消</button>
    </div>
  </ons-bottom-toolbar>
</ons-dialog>
