.hole-list {
  .hole-container {
    line-height : normal;
    padding: 10px;
    .content {
      font-size: 26px;
      margin-bottom: 7px;
    }
    .footer {
      font-size: 14px;
      .author {
        margin-right: 5px;
      }
    }
  }
}
