.new-hole {
  .new-hole-form {
    margin: 10px 15px 0 15px;
    .images {
      padding: 7px 16px 15px 6px;
      .image-box {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        width: 84px;
        height: 84px;
        position: relative;
        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .add-image {
        position: relative;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border: 2px dashed #ddd;
        border-radius: 5px;
        .plus-icon {
          padding-top: 25px;
          text-align: center;
          width: 50px;
          height: 30px;
          margin: auto;
          color: grey;
        }
        .file-input {
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          height: 80px;
          opacity: 0.0;
          filter: alpha(opacity=0);
        }
      }
    }
    .content {
      padding: 7px 15px;
      textarea {
        height: 200px;
        width: 100%;
      }
    }
  }
}
