<ons-page class="left-menu" ng-controller="LeftMenuController">
  <div class="user clearfix">
    <div class="avatar" ng-click="navi.pushPageWithHistory('user/upload-avatar.html', { animation: 'fade' });">
      <img ng-src="{{ getAvatarUrl(user, 64) }}">
    </div>
    <div class="name">
      <div class="nickname">
        {{ user.get('nickname') }}
      </div>
      <div class="information">
        <span ng-if="user.get('tsinghuaAuth')">清华认证用户</span>
        <span ng-if="!user.get('tsinghuaAuth')">未认证用户</span>
      </div>
    </div>
  </div>

  <ons-list class="menu-list">
    <ons-list-item class="menu-item" ng-repeat="channel in channels" ng-click="menu.closeMenu(); switchChannel(channel);">
      <ons-icon icon="fa-circle" size="16px" ng-if="currentChannel === channel"></ons-icon>
      <ons-icon icon="fa-circle-o" size="16px" ng-if="currentChannel !== channel"></ons-icon>
      {{ channel.get('name') }}
    </ons-list-item>
  </ons-list>

  <br>

  <ons-list class="bottom-menu-list">
    <ons-list-item class="bottom-menu-item" ng-if="!user.get('tsinghuaAuth')"
                   ng-click="navi.pushPageWithHistory('user/auth.html', { animation: 'fade' });">
      进行清华认证
      <ons-icon icon="fa-circle" size="8px" style="color: #dc5236; position: relative; bottom: 8px;"></ons-icon>
    </ons-list-item>
    <ons-list-item class="bottom-menu-item"
                   ng-click="menu.closeMenu(); navi.pushPageWithHistory('user/notification.html', { animation: 'fade', callback: checkNotification });">
      消息中心
      <ons-icon ng-if="hasNotification" icon="fa-circle" size="8px" style="color: #dc5236; position: relative; bottom: 8px;"></ons-icon>
    </ons-list-item>
    <ons-list-item class="bottom-menu-item" ng-click="logout()">
      登出
    </ons-list-item>
    <ons-list-item class="bottom-menu-item">
      FAQ
    </ons-list-item>
  </ons-list>

</ons-page>
